*, *::before, *::after {
    box-sizing: border-box;
}

body, p {
    padding: 0;
    margin: 0;
}

input, button, select {
    font: inherit;
}

body {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 5%);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}