/* --------- reset --------- */

body, p, table, tbody, tr, td, label {
    padding: 0;
    margin: 0;
}

input, button, select {
    font: inherit;
}

/* --------- core style --------- */

body {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 5%);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.row {
    padding-left: 1ch;
    margin-bottom: 0.3em;
}

.header {
    padding-left: 1ch;
    margin-bottom: 0.3em;
    background-color: hsl(0, 0%, 85%);
    font-weight: 500;
    height: 1.8em;
    vertical-align: middle;
}

div.header-container {
    display: table;
    width: 100%;
    margin-bottom: 0.3em;
}

div.header-cell {
    display: table-cell;
    padding-left: 1ch;
    background-color: hsl(0, 0%, 85%);
    font-weight: 500;
    height: 1.8em;
    vertical-align: middle;
}

.card {
    border: 1px solid hsl(0, 0%, 5%);
    margin-top: 10px;
    margin-left: 10px;
}

/* --------- layout --------- */

.main-layout {
    display: flex;
    flex-flow: row wrap;
}

.canvas-column {
    width: 800px;
}

.control-column {
    width: 250px;
}

.control {
    height: 1.5em;
}

canvas.poly {
    width: 100%;
}

/* --------- controls --------- */

label {
    margin-right: 1ch;
}

/* --------- table --------- */

table {
    border: none;
    border-spacing: 0;
    width: 100%;
}

table td:last-child {
    width: 100%;
}

table td:not(:last-child) {
    white-space: nowrap;
}

td {
    padding-left: 1ch;
}

td.rt {
    text-align: right;
    padding-left: 1ch;
}

