/*
 * Copyright 2021 Roman Elizarov. Use of this source code is governed by the Apache 2.0 license.
 */

/* --------- reset --------- */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, p, table, tbody, tr, td, label {
    padding: 0;
    margin: 0;
}

input, button, select {
    font: inherit;
}

/* --------- root style & layout --------- */

:root {
    --shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    --border: 1px solid black;
    --background-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 5%);
    --popup-background-color: hsla(0, 0%, 95%, .8);
    --button-background-color: #1976d2;
    --button-color: #ffffff;
    --hover-color: #8cefd0;
    --row-height: 1.5em;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    height: 100vh;
}

#root, canvas.poly {
    width: 100%;
    height: 100%;
}

div.ctrl-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4em);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    pointer-events: none;
}

div.ctrl-pane div.btn {
    margin-left: 1em;
    margin-top: 1em;
}

/* --------- Floating Buttons --------- */

div.btn {
    position: relative;
    height: 2em;
    color: var(--button-color);
    background-color: var(--button-background-color);
    box-shadow: var(--shadow);
    border-radius: 1em;
    pointer-events: auto;
    display: flex;
    flex-flow: nowrap row;
}

div.btn button {
    height: 2em;
    font-size: 1em;
    padding: 0;
    margin: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
}

div.btn button:hover {
   color: var(--hover-color);
}

div.btn button.square {
    width: 2em;
}

div.btn button.txt {
    padding-left: calc(1em - 0.5ch);
    padding-right: calc(1em - 0.5ch);
}

div.btn.config {
    position: absolute;
    top: 1em;
    right: 1em;
}

div.btn.export {
    position: absolute;
    top: 4em;
    right: 1em;
}

/* --------- Popups --------- */

aside.popup {
    display: block;
    position: absolute;
    right: 0.5em;
    width: calc(min(17em, 100vw - 1em));
    background-color: var(--popup-background-color);
    border: var(--border);
    border-radius: calc(0.5 * var(--row-height));
    box-shadow: var(--shadow);
    overflow-y: auto;
    z-index: 1;
}

aside.popup.config {
    top: 3.5em;
    height: calc(100vh - 4em);
}

aside.popup.export {
    top: 6.5em;
    height: calc(100vh - 7em);
}

/* --------- Dropdowns --------- */

aside.dropdown {
    display: block;
    position: absolute;
    top: 2.5em;
    left: -0.5em;
    background-color: var(--popup-background-color);
    color: var(--text-color);
    border: var(--border);
    border-radius: calc(0.5 * var(--row-height));
    box-shadow: var(--shadow);
    overflow-y: auto;
    z-index: 1;
}

aside.dropdown div.item:hover {
    background-color: var(--hover-color);
}

/* --------- headers / items --------- */

div.text-row {
    display: table;
    width: 100%;
}

div.text-row > div {
    display: table-cell;
}

.header {
    padding-left: 1ch;
    background-color: hsl(0, 0%, 85%);
    font-weight: 500;
    height: var(--row-height);
    vertical-align: middle;
    white-space: nowrap;
}

.item {
    padding-left: 1ch;
    padding-right: 1ch;
    height: var(--row-height);
    vertical-align: middle;
    white-space: nowrap;
}

/* --------- LEGACY --------- */

.card {
    border: 1px solid hsl(0, 0%, 5%);
    margin-top: 10px;
    margin-left: 10px;
}

.main-layout {
    display: flex;
    flex-flow: row wrap;
}

.control-column {
    width: calc(350px);
}

.canvas-column {
    width: calc(100vw - 395px);
}

/* --------- controls --------- */

div.row {
    padding-left: 1ch;
}

label {
    margin-right: 1ch;
}

.suffix {
    margin-left: 1ch;
}

div.control {
    height: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

tr.control {
    height: var(--row-height);
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}

/*input, button, select {*/
/*    margin-right: 1ch;*/
/*}*/

.download {
    display: none;
}

/* --------- tables --------- */

table {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table td.fill {
    width: 100%;
}

table td:not(.fill) {
    white-space: nowrap;
}

td {
    padding-left: 1ch;
}

table td:last-child {
    padding-right: 1ch;
}

td.rt {
    text-align: right;
}

tr.info {
    vertical-align: top;
}

svg.figure {
    width: 1em;
    height: 1em;
}

tr.info:hover {
    background: hsl(70, 90%, 50%);
}

.face-attn {
    color: red;
}

/* --------- canvas fps --------- */

.fps {
    position: absolute;
    margin-right: 5px;
    bottom: 0;
    right: 0;
}

/* --------- tooltip --------- */

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    padding: 0.2em;
    margin-left: -10ch;
    margin-top: -1.6em;
    background-color: hsl(0, 0%, 75%);
    border: 1px solid black;
    border-radius: 6px;
}

*:hover > .tooltip-text {
    visibility: visible;
}

/* --------- emoji --------- */

span.emoji {
    vertical-align: middle;
    line-height: 1;
}

/* --------- spinner --------- */

.spinner {
    position: relative;
    opacity: 1;
    transition: opacity linear 0.1s;
    margin-left: 1em;
    margin-right: 1em;
}

.spinner::before {
    border: solid 3px #eee;
    border-radius: 50%;
    content: "";
    height: 1.3em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.3em;
    animation: 2s linear infinite spinner;
    border-bottom-color: #EF6565;
    opacity: inherit;
    transform-origin: center;
    will-change: transform;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

